* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Cabecera
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.container-header {
  display: flex;
  padding: 70px 20px;
  background-color: #f1f1f8;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-izq {
  width: 600px;
}

.header-izq .titulo {
  font-size: 3.5rem;
}

.header-izq .parrafo {
  font-size: 18px;
  margin: 20px 0;
}

.header-der img {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.header-der::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #3e3b37;
}

.btn-visa a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(135deg, rgb(189, 103, 114), rgb(83, 34, 63));
  border-radius: 20px;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  padding: 15px;
}

.btn-visa a:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Aside
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.container-aside {
  background-color: #bd6772;
  padding: 10px;
}

.contenedor-cards {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". card1  card2 ."
    ". card3 card3 .";
  gap: 35px;
}

.card {
  background-color: #fff;
  width: 330px;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:nth-child(1) {
  grid-area: card1;
  place-self: end;
}

.card:nth-child(2) {
  grid-area: card2;
}

.card:nth-child(3) {
  grid-area: card3;
  place-self: center;
}

.card:hover {
  transform: rotate(3deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-cabezera {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.container-image {
  margin-right: 10px;
}

.container-info p {
  margin-bottom: 5px;
}

.title-card {
  font-size: 14px;
  opacity: 0.6;
}

.title-numer {
  font-size: 30px;
}

.titulo-desc {
  letter-spacing: 1px;
}

.card-content {
  margin-top: 10px;
  opacity: 0.5;
  line-height: 1.5;
  letter-spacing: 1px;
}

.content-aside {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  width: 800px;
}

.content-aside .bar {
  font-size: 50px;
  margin: 10px 0;

  /* Animacion */
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  /* Velocidad constante */
  animation-iteration-count: infinite;

  /* Para compatibilidad con navegadores antiguos (Safari/Chrome) */
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.content-aside h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.content-aside .aside-text {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  /* Visible */
  50% {
    opacity: 0;
  }

  /* Invisible */
  100% {
    opacity: 1;
  }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Table
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.container-table {
  background-color: #f1f1f8;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ". total total  ."
    "tabla tabla tabla  tabla";
  gap: 20px;

  /* Scroll tabla */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.content-tarj {
  background-color: #fff;
  width: 200px;
  padding: 20px;
  border-radius: 10px;

  grid-area: total;
  justify-self: center;
}

.cont-title {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
}

.cont-title .opaco {
  color: #6d798e;
}

.cont-title img {
  width: 25px;
  height: 25px;
}

.content-vis #numero-visas {
  font-size: 30px;
  text-align: center;
}

.table-structure {
  grid-area: tabla;
  justify-self: center;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

caption {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

thead {
  background-color: #f6f9fb;
  opacity: 0.5;
  color: #6d798e;
  font-size: 12px;
  text-align: center;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

th,
td {
  padding: 10px 20px;
}

tbody td {
  font-size: 15px;
  text-align: left;
  color: #484848;
}

.acciones {
  font-size: 13px;
}

.acciones a {
  text-decoration: none;
  padding-right: 5px;
}

.acciones .edit-acc {
  color: #378a89;
}

.acciones .edit-acc:hover {
  opacity: 0.7;
}

.acciones .elim-acc {
  color: #bd6772;
}

.acciones .elim-acc:hover {
  opacity: 0.7;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Tarjeta
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: #b8ddd1;
  background: -webkit-linear-gradient(to right, #dbcf9f, #b8ddd1);
  background: linear-gradient(to right, #dbcf9f, #b8ddd1);
}

.error {
  width: auto;
  background-color: #faa0a0;
  color: #3e3b37;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid #f53838;
  border-radius: 5px;
}

.correcto {
  width: auto;
  background-color: #a4e5de;
  color: #3e3b37;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid #03a052;
  border-radius: 5px;
}

.logo img {
  width: 45px;
}

.visa img {
  width: 60px;
}

.titulo {
  opacity: 0.6;
  font-size: 12px;
}

#nombreVisa {
  margin-top: 2px;
  font-size: 18px;
}

#validoVisa {
  margin-top: 2px;
  font-size: 18px;
  text-align: center;
}

.contenedor-tarjeta {
  width: 500px;
  height: 300px;
  position: relative;
  background-color: #bd6772;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;

  display: grid;
  grid-template-areas:
    "icono1 .  icono2"
    "tarjeta tarjeta tarjeta"
    "nombre . valido";
  z-index: 1;
}

.contenedor-tarjeta::before {
  width: 500px;
  height: 300px;
  position: absolute;
  content: "";
  background-image: url("assets/fondo.png");
  opacity: 0.5;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.logo {
  grid-area: icono1;
  justify-self: start;
  margin: 0;
  z-index: 1;
}

.visa {
  grid-area: icono2;
  justify-self: end;
  margin: 0;
  z-index: 1;
}

#tarjeta {
  grid-area: tarjeta;
  font-size: 2.9rem;
  justify-self: center;
  z-index: 1;
}

.nombre-contenedor {
  grid-area: nombre;
  align-self: center;
  z-index: 1;
}

.valido-contenedor {
  grid-area: valido;
  justify-self: end;
  align-self: center;
  z-index: 1;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
	Formulario
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.container-form {
  position: relative;
  background-color: #fff;
  top: -60px;
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.espacio {
  width: 100%;
  height: 60px;
}

#formulario {
  width: 600px;
  height: 350px;
  padding: 10px;

  display: grid;
  grid-template-areas:
    "uno uno  uno"
    "dos dos dos"
    "tres . cuatro"
    ". cinco .";
}

.form-group label {
  opacity: 0.6;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 0 10px;
}

.boton {
  width: 200px;
  height: 40px;
  font-size: 18px;
  background: linear-gradient(135deg, #bd6772, #53223f);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: transform 0.1s;
}

.boton:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}

input:focus {
  border: 2px solid #bd6772;
}

.form-group:nth-child(1) {
  grid-area: uno;
  align-self: center;
}

.form-group:nth-child(2) {
  grid-area: dos;
  align-self: center;
}

.form-group:nth-child(3) {
  grid-area: tres;
  align-self: center;
}

.form-group:nth-child(4) {
  grid-area: cuatro;
  align-self: center;
}

.form-group:nth-child(5) {
  grid-area: cinco;
  align-self: flex-end;
}
